In [120]:
import pandas as pd
import itertools as it
from datetime import datetime as dt
from datetime import timedelta as tmd

In [121]:
df = pd.read_table('/home/will/ozcot/met.inp', skiprows=21, delim_whitespace=True, header=[0])

In [122]:
df.columns = ['{0}-{1}'.format(i,j) for i,j in zip(df.columns,df.iloc[:1,:].values[0])]

In [123]:
df.drop([0], axis=0, inplace=True)

In [124]:
df['date'] = df['year-()'].map(str) + '-' + df['day-()'].map(str)

In [125]:
df['parsed_date'] = pd.to_datetime(df.date, format='%Y-%j')

In [149]:
df['rain'] = pd.to_numeric(df.loc[:,'rain-(mm)'])

In [131]:
# Date generator function to be used with something like itertools myslice

def date_generator(start):
    while True:
        yield start
        start = start + tmd(days=1)

In [132]:
dates = it.islice(date_generator(start_date),150)

In [133]:
import itertools as it

def date_generator(start):
    while True:
        yield start
        start = start + tmd(days=1)

dts_ranges = []
dts_end_begin = []

for i in range(2001,2018,1):
    start_date  = dt.strptime('{0}-135'.format(i), '%Y-%j')
    dates = it.islice(date_generator(start_date), 150)
    dates = list(dates)
    dts_ranges.append(dates)
    dts_end_begin.append((dates[0], dates[-1]))

In [135]:
dts_end_begin

[(datetime.datetime(2001, 5, 15, 0, 0), datetime.datetime(2001, 10, 11, 0, 0)),
 (datetime.datetime(2002, 5, 15, 0, 0), datetime.datetime(2002, 10, 11, 0, 0)),
 (datetime.datetime(2003, 5, 15, 0, 0), datetime.datetime(2003, 10, 11, 0, 0)),
 (datetime.datetime(2004, 5, 14, 0, 0), datetime.datetime(2004, 10, 10, 0, 0)),
 (datetime.datetime(2005, 5, 15, 0, 0), datetime.datetime(2005, 10, 11, 0, 0)),
 (datetime.datetime(2006, 5, 15, 0, 0), datetime.datetime(2006, 10, 11, 0, 0)),
 (datetime.datetime(2007, 5, 15, 0, 0), datetime.datetime(2007, 10, 11, 0, 0)),
 (datetime.datetime(2008, 5, 14, 0, 0), datetime.datetime(2008, 10, 10, 0, 0)),
 (datetime.datetime(2009, 5, 15, 0, 0), datetime.datetime(2009, 10, 11, 0, 0)),
 (datetime.datetime(2010, 5, 15, 0, 0), datetime.datetime(2010, 10, 11, 0, 0)),
 (datetime.datetime(2011, 5, 15, 0, 0), datetime.datetime(2011, 10, 11, 0, 0)),
 (datetime.datetime(2012, 5, 14, 0, 0), datetime.datetime(2012, 10, 10, 0, 0)),
 (datetime.datetime(2013, 5, 15, 0, 0), datetime.datetime(2013, 10, 11, 0, 0)),
 (datetime.datetime(2014, 5, 15, 0, 0), datetime.datetime(2014, 10, 11, 0, 0)),
 (datetime.datetime(2015, 5, 15, 0, 0), datetime.datetime(2015, 10, 11, 0, 0)),
 (datetime.datetime(2016, 5, 14, 0, 0), datetime.datetime(2016, 10, 10, 0, 0)),
 (datetime.datetime(2017, 5, 15, 0, 0), datetime.datetime(2017, 10, 11, 0, 0))]

In [179]:
rain_totals = []

for dates in dts_end_begin:
    rain_total = df.loc[(df['parsed_date'] > dates[0]) & (df['parsed_date'] < dates[1]), 'rain'].sum()
    rain_totals.append((dates[0],dates[1],rain_total))
    print("Start:{0}, End:{1}, Rain Sum: {2}".format(dates[0],dates[1],round(rain_total, 2)))

Start:2001-05-15 00:00:00, End:2001-10-11 00:00:00, Rain Sum: 94.7
Start:2002-05-15 00:00:00, End:2002-10-11 00:00:00, Rain Sum: 190.9
Start:2003-05-15 00:00:00, End:2003-10-11 00:00:00, Rain Sum: 166.8
Start:2004-05-14 00:00:00, End:2004-10-10 00:00:00, Rain Sum: 308.0
Start:2005-05-15 00:00:00, End:2005-10-11 00:00:00, Rain Sum: 206.0
Start:2006-05-15 00:00:00, End:2006-10-11 00:00:00, Rain Sum: 241.2
Start:2007-05-15 00:00:00, End:2007-10-11 00:00:00, Rain Sum: 237.7
Start:2008-05-14 00:00:00, End:2008-10-10 00:00:00, Rain Sum: 358.9
Start:2009-05-15 00:00:00, End:2009-10-11 00:00:00, Rain Sum: 175.0
Start:2010-05-15 00:00:00, End:2010-10-11 00:00:00, Rain Sum: 243.7
Start:2011-05-15 00:00:00, End:2011-10-11 00:00:00, Rain Sum: 74.2
Start:2012-05-14 00:00:00, End:2012-10-10 00:00:00, Rain Sum: 138.7
Start:2013-05-15 00:00:00, End:2013-10-11 00:00:00, Rain Sum: 267.0
Start:2014-05-15 00:00:00, End:2014-10-11 00:00:00, Rain Sum: 399.1
Start:2015-05-15 00:00:00, End:2015-10-11 00:00:00, Rain Sum: 309.0
Start:2016-05-14 00:00:00, End:2016-10-10 00:00:00, Rain Sum: 323.6
Start:2017-05-15 00:00:00, End:2017-10-11 00:00:00, Rain Sum: 340.3

In [186]:
df = pd.DataFrame(rain_totals)
df.rename({0:'start_date',1:'end_date',2:'rain_sum'}, axis=1, inplace=True)

In [187]:
df.to_csv('/home/will/rain_sums_2001_2017_DOY_135_285.csv')

In [137]:
from matplotlib import pyplot as plt

fig, ax = plt.subplots(1,1, figsize=(16,10))
ax.plot

In [169]:
def date_generator(start, num):
    delta = tmd(days=1)
    for _ in range(num):
        yield start
        start += delta

In [172]:
list(date_generator(start_date, 150))[0]

datetime.datetime(2017, 5, 15, 0, 0)

In [173]:
list(date_generator(start_date, 150))[-1]

datetime.datetime(2017, 10, 11, 0, 0)