### Will Dodge 2018-02-16

#### Import packages:

In [1]:
import pandas as pd

#### Read csv file:

In [2]:
filename = 'C:\\crop_modeling\\weather_lbk.csv'
data = pd.read_csv(filename)

#### Perform calculations:

In [3]:
data['Date'] = pd.to_datetime(data['Date'], format='%m/%d/%Y')
data['Avg_temp'] = (data['Temp_High'] + data['Temp_Low']) / 2
data['dEMRate'] = 0.0153 * data['Avg_temp'] - 0.16
data['accu_EMRate'] = data['dEMRate'].cumsum()
data['dGDU'] = data['Avg_temp'] - 10
data['accu_GDU'] = data['dGDU'].cumsum()

#### View data to be sure it is correct:

In [4]:
data[0:10]

,Year,DOY,Temp_High,Temp_Low,Date,Avg_temp,dEMRate,accu_EMRate,dGDU,accu_GDU
0,2017,157,31.02,23.426424,2017-06-06,27.223212,0.256515,0.256515,17.223212,17.223212
1,2017,158,29.72,22.907257,2017-06-07,26.313628,0.242599,0.499114,16.313628,33.536840
2,2017,159,31.24,23.799271,2017-06-08,27.519635,0.261050,0.760164,17.519635,51.056476
3,2017,160,32.43,23.815486,2017-06-09,28.122743,0.270278,1.030442,18.122743,69.179219
4,2017,161,35.99,27.388229,2017-06-10,31.689115,0.324843,1.355285,21.689115,90.868333
5,2017,162,35.86,27.970174,2017-06-11,31.915087,0.328301,1.683586,21.915087,112.783420
6,2017,163,36.12,27.273438,2017-06-12,31.696719,0.324960,2.008546,21.696719,134.480139
7,2017,164,36.39,27.482118,2017-06-13,31.936059,0.328622,2.337168,21.936059,156.416198
8,2017,165,36.85,27.927361,2017-06-14,32.388681,0.335547,2.672715,22.388681,178.804878
9,2017,166,36.04,25.806215,2017-06-15,30.923108,0.313124,2.985838,20.923108,199.727986

 #### View the row that relates to the emergence using "or" operator:

In [5]:
data[(data['accu_GDU'] > 70) | (data['accu_EMRate'] > 1)].iloc[[0]]

,Year,DOY,Temp_High,Temp_Low,Date,Avg_temp,dEMRate,accu_EMRate,dGDU,accu_GDU
3,2017,160,32.43,23.815486,2017-06-09,28.122743,0.270278,1.030442,18.122743,69.179219

#### View the row that relates to emergence using  "and" operator:

In [6]:
data[(data['accu_GDU'] > 70) & (data['accu_EMRate'] > 1)].iloc[[0]]

,Year,DOY,Temp_High,Temp_Low,Date,Avg_temp,dEMRate,accu_EMRate,dGDU,accu_GDU
4,2017,161,35.99,27.388229,2017-06-10,31.689115,0.324843,1.355285,21.689115,90.868333

#### View only the date of emergence when using "or" operator:

In [7]:
data[(data['accu_GDU'] > 70) | (data['accu_EMRate'] > 1)].iloc[[0]]['Date']

3   2017-06-09
Name: Date, dtype: datetime64[ns]

#### View only the date of emergence when using "and" operator:

In [8]:
data[(data['accu_GDU'] > 70) & (data['accu_EMRate'] > 1)].iloc[[0]]['Date']

4   2017-06-10
Name: Date, dtype: datetime64[ns]

#### write file:

In [ ]:
data.to_csv('C:\\crop_modeling\\weather_lbk_EMERGENCE.csv')

#### * My understanding is that the accumulated rate fuction represents a percentage of the crop that has ememrged. That's why I created lines that evaluate conditions with "and" as well as "or". The date returned for these separate methods of evaluation is not the same but I'm thinking that using "or" should be sufficient. My thought is that as long as one of the conditions evaluates to True, then emergence should likely occur. I may not be understanding what the accumulated rate actually represents, however.